<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BasicAuthentication.Username.localhost" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="BasicAuthentication.Password.localhost" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationDbContext" connectionString="Data Source=.;Initial Catalog=adsm_microsites;Integrated Security=True;Connect Timeout=30" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <entityFramework>
    <contexts xdt:Transform="RemoveAll" />
  </entityFramework>
</configuration>